@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import '../node_modules/bulma/css/bulma.css';

.is-italic {
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.is-bold {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: italic;
}

body {
	background-image: radial-gradient(rgb(102, 79, 202), rgb(194, 188, 255));
	font-size: clamp(10px, 3vw, 20px);
}

.review-detail {
	position: relative;
	width: clamp(350px, 70%, 1000px);
	margin: auto;
	margin-top: 5%;
}

.review-image {
	border-radius: 10px;
}

.review-image {
	border-radius: 10px;
	margin: auto;
	display: block;
}

.review-first-letter {
	float: left;
	margin-right: 0.5em;
	color: white;
	@extend .big-text;
	@extend .is-bold;
}

.review-intro {
	color: white;
	margin: auto;
	text-align: justify;
	@extend .small-text;
	@extend .is-bold;
}

.review-paragraph {
	color: white;
	margin: auto;
	text-align: justify;
	@extend .small-text;
	@extend .is-italic;
}

.review-conclusion {
	border-radius: 10px;
	color: white;
	padding: 2%;
	text-align: justify;
	background-color: #826dfa;
	margin-bottom: 10%;
	@extend .small-text;
	@extend .is-italic;
}

.title {
	white-space: nowrap;
	position: absolute;
	top: clamp(150px, 25vw, 500px);
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	@extend .big-text;
	@extend .is-bold;
}

.big-text {
	font-size: 3em;
}

.medium-text {
	font-size: 2em;
}

.small-text {
	font-size: 1em;
}

.splashart {
	margin-bottom: 5%;
}