@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

.is-italic {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.is-bold {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.cover-div { 
    aspect-ratio: 16 / 9; 
    width: 100%; 
    position: relative; 
}

.project {
    width: 70%;
    margin: auto;
    height: 600px;
    margin-bottom: 250px;
    position: relative;
    background-color: #6f56ff;
    border-radius: 10px;
}

.review-list {
    position: relative;
    margin:auto;
    margin-bottom: 100px;
    width: 70%;
    height: 293px;
    background-color: #6f56ff;
    border-radius: 10px;
}

.review-list-title { 
    margin: 0; 
    position: absolute; 
    top: 15%; 
    left: 10%; 
    color: white; 
}

.review-list-description { 
    margin: 0; 
    position: absolute; 
    top: 50%; 
    left: 10%; 
    right: 55%; 
    color: white; 
}

.review-list-image { 
    margin-left: 60%; 
    width: 40%;
    border-radius: 10px;
}

.review-detail {
    position: relative;
    margin-top: 100px;
}

.review-image {
    border-radius: 10px;
}

.review-image-left {
    border-radius: 10px;
    float: left;
    margin-left: 15%;
    margin-right: 20px;
}

.review-image-center {
    border-radius: 10px;
    max-width: 50%;
    margin: auto;
    display: block;
}

.review-first-letter {
    float: left;
    margin-left: 25%;
    font-size: 70px;
    margin-right: 20px;
    color: white;
}

.review-intro {
    font-size: 20px; 
    color: white;
    margin:auto;
    width: 50%;
    text-align: justify;
}

.review-paragraph {
    font-size: 18px; 
    color: white;
    margin:auto;
    width: 50%;
    text-align: justify;
}

.review-quote-left {
    float: left;
    margin-left: 25%;
    font-size: 30px;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 15%;
    color: white;
    text-align: right;
}

.review-quote-right {
    float: right;
    margin-right: 25%;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 25px;
    width: 15%;
    color: white;
    text-align: left;
}

.review-conclusion {
    border-radius: 10px;
    color: white;
    font-size: 20px; 
    padding: 2%;
    margin: auto;
    width: 50%;
    text-align: justify;
    background-color: #826dfa;
    margin-bottom: 250px;
}

.title {
    margin: 0; 
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
}

body { 
    background-image: radial-gradient(rgb(102, 79, 202), rgb(194, 188, 255)); 
}

.project-title { 
    margin: 0; 
    position: absolute; 
    top: 15%; 
    left: 10%; 
    right: 50%; 
    color: white; 
}

.project-description { 
    margin: 0; 
    position: absolute; 
    top: 40%; 
    left: 10%; 
    right: 55%; 
    color: white; 
}

.project-image { 
    top: 15%; 
    left: 50%; 
    width: 55%; 
    position: absolute;
    border-radius: 10px;
}

.project-links {
    margin: 0; 
    bottom: 15%; 
    left: 10%; 
    position: absolute; 
}

.project-highlights { 
    top: 93%; 
    margin-left: 5%; 
    position: absolute; 
    width: 100%; 
}

.project-highlight { 
    margin-right: 5px; 
    width: 20%; 
    height: 75px; 
    float: left; 
    margin-bottom: 200px; 
    background-color: #6b2cff; 
    color: white; 
}